 .about-me {
     object-fit: cover;
     z-index: -1;
     background-color: #1B1F24;
     display: flex;
     justify-content: center;
     align-items: center;
     /* padding-top: 2.5em;
     padding-bottom: 50px; */
     padding-top: 6em;

 }

 .left-box,
 .right-box {
     width: 40em;
     margin-left: 7em;
     margin-right: 7em;
 }

 .left-box {
     position: relative;
     left: 5em;
 }

 .right-box {
     position: relative;
     left: -5em;
 }

 .saludo-about {
     font-size: 2em;
     text-align: left;
 }

 .title-about {
     font-size: 4em;
     width: 7em;
     text-align: left;
 }

 .info-about {
     text-align: justify;
     font-size: 1.3em;
     width: 30em;
     min-width: 20em;
 }

 .button-about {
     display: flex;
     position: relative;
     text-align: center;
     justify-content: center;
     top: 2em;
     /* padding: 0.5em; */
     background-color: white;
     text-align: left;
     color: black;
     cursor: pointer;
     border-radius: 10px;
 }

 .button-about h1 {
     font-size: 2em;
 }

 .button-about:hover {
     background-color: #d8d8d8;
     transition: 0.2s;
     box-shadow: 0.1em 0.1em 0.5em rgb(163, 162, 162);
 }

 .button-about:active {
     background-color: #4a4a4a;
     transition: 0.2s;
 }

 @media screen and (max-width: 768px) {
     .about-me {
         z-index: -1;
         background-color: #1B1F24;
         display: flex;
         justify-content: center;
         flex-direction: column;
         font-size: 0.9em;
         margin-top: -1em;
     }

     .saludo-about {
         font-size: 2em;
         text-align: left;
         margin-left: 1.5em;
     }

     .title-about {
         font-size: 4em;
         width: 7em;
         text-align: left;
         margin-left: 0.7em;
     }

     .button-about {
         position: relative;
         margin-left: 3.8em;
     }

     .info-about {
         display: none;
     }

 }