 .about-me {
     width: 100vw;
     height: 100vh;
     object-fit: cover;
     z-index: -1;
     background-color: #1B1F24;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     padding-top: 6em;
 }

 .left-box,
 .right-box {
     width: 40em;
     margin: 7em;
     margin-top: 3em;
 }

 .left-box {
     position: relative;
     left:  5em;
 }

 .right-box {
     position: relative;
     left: -5em;
 }

 .saludo-about {
     font-size: 2em;
     text-align: left;
 }

 .title-about {
     font-size: 4em;
     width: 7em;
     text-align: left;
 }

 .info-about {
     text-align: justify;
     font-size: 1.2em;
 }

 .button-about {
     display: flex;
     position: relative;
     top: 3em;
     width: 12em;
     padding: 0.5em;
     background-color: white;
     text-align: left;
     color: black;
     font-size: 1.5em;
     cursor: pointer;
 }

 .button-about:hover {
     transform: scale(1.03);
 }

 .button-about:active {
     transform: scale(0.95);
 }