.contact {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: #1B1F24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message {
    font-size: 4em; 
    position: relative;
}

.box-contact {
    display: flex;
    height: 20em;
    width: 60em;
}

.left-contact {
    color: black;
    width: 25em;
    background-color: white;
    padding: 1em;
    text-align: left;
    font-size: 1.2em;

}

.right-contact {
    color: rgb(255, 255, 255);
    width: 25em;
    background-color: black;
    padding: 1em;
    text-align: left;
    font-size: 1.2em;
}

.contact-title {
    color: black;
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    font-weight: 700;

}

.email-title,
.phone-title {
    font-weight: 600;
    text-decoration: underline;
}

.seguir-title {
    color: rgb(255, 255, 255);
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

.email,
.phone {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 1em;
    user-select: text;
}

.github {
    filter: hue-rotate(180deg);
    height: 2em;
    padding-top: 1em;
    margin-left: 0.5em;
    display: flex;
    cursor: pointer;
}

.github-title {
    margin-top: 0.9em;
    margin-left: 0.5em;
    font-size: 1.2em;
    color: white;
}

.linkedIn {
    margin-top: 1.6em;
    margin-left: 0.5em;
    height: 2em;
    display: flex;
    cursor: pointer;
}

.linkedIn-title {
    margin-top: 1.3em;
    margin-left: 0.5em;
    font-size: 1.2em;
    color: white;
}

.Download-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: #FF135A;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-bottom: 3em; 
    margin-top: 3em;
}

.Download-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Download-link:hover{
    color: white;
}

.Download-button svg {
    margin-right: 8px;
    width: 25px;
}

.Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
}

.Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
    height: 60%;
}


@media screen and (max-width: 768px) {

    .box-contact {
        transform: scale(0.6);
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .left-contact {
        height: 30em;

    }

    .right-contact {
        height: 30em;
        padding-bottom: 4em;
    }

    .message {
        /* margin-top: -1em; */
        margin-bottom: 1.5em;
        font-size: 3em;
    }
    
    .Download-button{
        z-index: 1;   
        margin-top: -2em;
    }
 
}