@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-family: 'Bebas Neue', sans-serif;
    --text-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5);
    --button-bg-color: black;
    --button-hover-scale: 1.03;
    --button-active-scale: 0.95;
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    user-select: none;
}

.home-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-home {
    position: relative;
}

.home-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%) brightness(0.95);
}

.title-name {
    width: 6em;
    position: absolute;
    text-align: left;
    z-index: 1;
    font-family: var(--font-family);
    font-size: 9em;
    line-height: 1;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-shadow: var(--text-shadow);
}

.button-home {
    width: 8em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--button-bg-color);
    position: absolute;
    z-index: 1;
    font-family: var(--font-family);
    font-size: 3em;
    line-height: 1;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-shadow: var(--text-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-home:hover {
    transform: translate(-50%, -50%) scale(var(--button-hover-scale));
}

.button-home:active {
    transform: translate(-50%, -50%) scale(var(--button-active-scale));
}

@media screen and (max-width: 768px) {
    .title-name {
        font-size: 4em;
        top: 39%;
        left: 55%;
    }

    .button-home {
        font-size: 2em;
        left: 50%;
    }
}

@media screen and (max-width: 480px) {
    .title-name {
        font-size: 3em;
        top: 40%;
        left: 50%;
    }

    .button-home {
        font-size: 1.5em;
        left: 50%;
    }

    .home-image {
        width: 170%;
        height: 100vh;
        /* mover a la izquierda */
        transform: translateX(-40%);

    }
}