.projects {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: #1B1F24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.carousel-projects {
    width: 55em;
}

.contentStyle {
    height: 28em;
    width: 55em;
    color: #fff;
    text-align: center;
    background-color: #364d79;
}

.project-carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
    font-size: inherit;
    left: -2.32%;
    transform: translateX(50%);
    top: 1.85em;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50%;
    width: 3em;
    opacity: 3;
    transition: opacity 0.3s ease;
    padding-top: 17.6em;
}


.ant-carousel .slick-prev:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    background: rgba(255, 255, 255, 0.47);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.47) 0%, rgba(248, 249, 252, 0.47) 69%, rgba(246, 248, 250, 0) 91%, rgba(245, 247, 250, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.47) 0%, rgba(248, 249, 252, 0.47) 69%, rgba(246, 248, 250, 0) 91%, rgba(245, 247, 250, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.47) 0%, rgba(248, 249, 252, 0.47) 69%, rgba(246, 248, 250, 0) 91%, rgba(245, 247, 250, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.47) 0%, rgba(248, 249, 252, 0.47) 69%, rgba(246, 248, 250, 0) 91%, rgba(245, 247, 250, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.47) 0%, rgba(248, 249, 252, 0.47) 69%, rgba(246, 248, 250, 0) 91%, rgba(245, 247, 250, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f7fa', GradientType=1);
    transition: opacity 0.3s ease;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
    font-size: inherit;
    right: 2.32%;
    transform: translateX(50%);
    top: 1.85em;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50%;
    width: 3em;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding-top: 17.6em;
}

.ant-carousel .slick-next:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    background: rgba(245, 247, 250, 0);
    background: -moz-linear-gradient(left, rgba(245, 247, 250, 0) 0%, rgba(246, 248, 250, 0) 9%, rgba(248, 249, 252, 0.47) 31%, rgba(255, 255, 255, 0.47) 100%);
    background: -webkit-linear-gradient(left, rgba(245, 247, 250, 0) 0%, rgba(246, 248, 250, 0) 9%, rgba(248, 249, 252, 0.47) 31%, rgba(255, 255, 255, 0.47) 100%);
    background: -o-linear-gradient(left, rgba(245, 247, 250, 0) 0%, rgba(246, 248, 250, 0) 9%, rgba(248, 249, 252, 0.47) 31%, rgba(255, 255, 255, 0.47) 100%);
    background: -ms-linear-gradient(left, rgba(245, 247, 250, 0) 0%, rgba(246, 248, 250, 0) 9%, rgba(248, 249, 252, 0.47) 31%, rgba(255, 255, 255, 0.47) 100%);
    background: linear-gradient(to right, rgba(245, 247, 250, 0) 0%, rgba(246, 248, 250, 0) 9%, rgba(248, 249, 252, 0.47) 31%, rgba(255, 255, 255, 0.47) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f7fa', endColorstr='#ffffff', GradientType=1);
    transition: opacity 0.3s ease;
}

.projects-title {
    width: 100vw;
    font-size: 4em;   
    margin-top: em; 
}

.see-more {
    padding: 2em; 
    z-index: 1;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow; 
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255)
}

.shadow__btn:active {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255)
}

.shadow__btn:active {
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 768px) {

    .carousel-projects {
        width: 20em;
    }

    .contentStyle {
        height: 30em;
        width: 55em;
        color: #fff;
        text-align: center;
        background-color: transparent;
    }

    .project-carousel {
        width: 108%;
        height: 100%;   
        object-position: -18em;
        transform: scale(0.6);
        margin-left: 7.7em;
    }

    .ant-carousel .slick-prev,
    .ant-carousel .slick-prev:hover,
    .ant-carousel .slick-prev:focus {
        left: -7%;
        top: 23.5%;
        height: 11.1em;
        padding-top: 10em;

    }

    .ant-carousel .slick-next,
    .ant-carousel .slick-next:hover,
    .ant-carousel .slick-next:focus { 
        right: 6.8%;
        top: 23.5%;
        height: 11.1em;
        padding-top: 10em;
    }

    .projects-title{
      font-size: 2em; 
    }



    


}