.projects {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: #1B1F24;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5em;
    padding-bottom: 50px;
}

.projects-title {
    width: 100vw;
    font-size: 4em;
}

.see-more {
    z-index: 1;
    margin-top: -2em;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    margin-top: 3em;
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255)
}

.shadow__btn:active {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255)
}

.shadow__btn:active {
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 768px) {

    .projects-title {
        font-size: 2em;
    }

}