.stack {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: #1B1F24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack-container {
     transform: scale(1.55);
}  

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title hr {
    height: 3px;
    width: 30px;
    background-color: var(--green);
    border: none;
}

.title h2 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.contentTechnologies {
    display: flex;
    gap: 20px; 
}

.contentTechnologiesSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentTechnologiesSectionTitle {
    font-weight: 800;
    color: var(--green);
}

.contentTechnologiesSectionList {
    padding: 0;
    flex-direction: column;
    gap: 10px;
    display: flex;
    list-style: none;
}

.contentTechnologiesSectionListElement {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.contentTechnologiesSectionListElement span {
    color: white;
}

.contentSkillsTitle {
    width: 100vw;
    font-size: 4em;
    margin-bottom: 2em;
    
}

@media screen and (max-width: 768px) {
    .stack-container {
        flex-direction: row;
    }

    .content {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1em;
    }

    .contentTechnologies {
        display: flex;
        flex-direction: column;
    }

    .contentTechnologiesSection {
        margin-bottom: -1em;
    }

    .contentTechnologiesSectionList {
        padding: 0;
        gap: 10px;
        display: grid;
        list-style: none;
        grid-template-columns: repeat(4, 1fr);
        transform: scale(1.4);
    }

    span {
        display: none;
    }

    hr {
        display: none;
    }

    .contentTechnologiesSectionTitle {
        font-weight: 800;
        padding-right: 1em;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: center;   
        margin-left: 1em;
    }

    .contentTechnologiesSectionListElement {
       justify-content: center;
    }

    .contentSkillsTitle { 
        font-size: 2em;
        margin-bottom: 4em;
    }
}