:root {
    --background-color: #1B1F24;
    --text-color: white;
    --highlight-color: var(--green);
    /* Assuming --green is defined elsewhere */
}

.stack {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack-container {
    transform: scale(1.55);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title hr {
    height: 3px;
    width: 30px;
    background-color: var(--highlight-color);
    border: none;
}

.title h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.contentTechnologies {
    display: flex;
    gap: 20px;
}

.contentTechnologiesSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentTechnologiesSectionTitle {
    font-weight: 800;
    color: var(--highlight-color);
}

.contentTechnologiesSectionList {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.contentTechnologiesSectionListElement {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center horizontally */
    gap: 5px;
    color: var(--text-color);
}

.contentSkillsTitle {
    width: 100vw;
    font-size: 4em;
    margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .stack-container {
        flex-direction: row;
    }

    .content {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1em;
    }

    .contentTechnologies {
        flex-direction: column;
    }

    .contentTechnologiesSection {
        margin-bottom: -1em;
    }

    .contentTechnologiesSectionList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        transform: scale(1.4);
    }

    span,
    hr {
        display: none;
    }

    .contentTechnologiesSectionTitle {
        padding-right: 1em;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: center;
        margin-left: 1em;
    }

    .contentTechnologiesSectionListElement {
        justify-content: center;
    }

    .contentSkillsTitle {
        font-size: 2em;
        margin-bottom: 4em;
    }
}